* {
    font-family: Arial, Helvetica, sanss-serif;
    font-size: 16px;
}

body {
    background-color: rgb(201, 149, 250);

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3ps 3px 5px rgba(0, 0, 0, 0.438);
}

h1 {
    font-size: 2em;
    color:rgb(101, 62, 138)
}

h2 {
    font-size: 1.5em;
    color:rgb(101, 62, 138)
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(101, 62, 138)
}

a:hover {
    text-decoration: underline;
    color: rgb(44, 75, 168);
}